# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Data Pribadi\RAYHAN\Perkuliahan\Semester 5\Pengolahan Citra Digital\Praktik\Pertemuan 1\PulldownProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
